* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  list-style: none;
  text-decoration: none !important;
  color: inherit !important;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

/* 
  Simple Grid
  Register, Login 
*/

.simple-grid {
  display: flex;
  width: 60%;
  border-radius: 30px;
  margin: 150px auto;
  background-color: #f4f4f0;
}

.simple-grid__cell {
  padding-left: 1rem;
  padding-right: 1rem;
}

.simple-grid__cell--fill {
  flex: 1;
}

/* Cell with given width */
.simple-grid__cell--1\/2 {
  flex: 0 0 50%;
}

.simple-grid__cell--1\/3 {
  flex: 0 0 33.3333333%;
}

.simple-grid__cell--1\/4 {
  flex: 0 0 25%;
}

/* homepage */
.roast-grid {
  margin: 100px auto;
  column-count: 4;
  column-gap: .5rem;
}

.full-background {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: x-large;
  font-weight: 700;
  border-radius: 30px;
  height: 12vh;

  /* background image */
  background: url('https://images.unsplash.com/photo-1455813870877-04a32045af63?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=910&q=80') center center / cover no-repeat;
  opacity: 0.5;
}

.full-background:hover {
  opacity: 1;
  color: #f4f4f0;
}